In [1]:
import warnings
warnings.filterwarnings("ignore")

# loading packages
# basic + dates 
import numpy as np
import pandas as pd
from pandas import datetime


# importing train data to learn
train = pd.read_csv("god.csv", 
                    parse_dates = True, low_memory = False, index_col = 'date')
train.index

# data extraction
train['Year'] = train.index.year
train['Month'] = train.index.month
train['Day'] = train.index.day
train['WeekOfYear'] = train.index.weekofyear

# adding new variable
train['sale_per_customer'] = train['sales']/train['customers']

In [2]:
sundaya = train[train.brand == "a"].loc[:, ["sales"]]
sundayanot = train[(train.brand == "a") & (train.day_of_the_week != 7)].loc[:, ["sales"]]

In [3]:
from scipy.stats import ttest_ind
import numpy as np
sunday = sundaya
sundaynot = sundayanot
print(sunday)
print("Not Sunday Data :-\n")
print(sundaynot)
sunday_mean = np.mean(sunday)
sundaynot_mean = np.mean(sundaynot)
print("Sunday mean value:",sunday_mean)
print("Not Sunday mean value:",sundaynot_mean)
sunday_std = np.std(sunday)
sundaynot_std = np.std(sundaynot)
print("Sunday std value:",sunday_std)
print("Not Sunday std value:",sundaynot_std)
ttest,pval = ttest_ind(sunday,sundaynot)
print("p-value",pval)
if pval <0.05:
  print("we reject null hypothesis")
else:
  print("we accept null hypothesis")

            sales
date
2014-12-31   2269
2014-12-31   3804
2014-12-31   1830
2014-12-31   2604
2014-12-31   5219
2014-12-31   3025
2014-12-31   5063
2014-12-31   4216
2014-12-31   3838
2014-12-31   4871
2014-12-31   3939
2014-12-31   4720
2014-12-31   2639
2014-12-31   3772
2014-12-31   7503
2014-12-31   5385
2014-12-31   1713
2014-12-31   2257
2014-12-31   6969
2014-12-31   2916
2014-12-31   1675
2014-12-31   7395
2014-12-31   3028
2014-12-31   4894
2014-12-31   2552
2014-12-31   2727
2014-12-31   2526
2014-12-31   3878
2014-12-31   3122
2014-12-31   3911
...           ...
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0

[424003 rows x 1 columns]
Not Sunday Data :-

            sales
date
2014-12-31   2269
2014-12-31   3804
2014-12-31   1830
2014-12-31   2604
2014-12-31   5219
2014-12-31   3025
2014-12-31   5063
2014-12-31   4216
2014-12-31   3838
2014-12-31   4871
2014-12-31   3939
2014-12-31   4720
2014-12-31   2639
2014-12-31   3772
2014-12-31   7503
2014-12-31   5385
2014-12-31   1713
2014-12-31   2257
2014-12-31   6969
2014-12-31   2916
2014-12-31   1675
2014-12-31   7395
2014-12-31   3028
2014-12-31   4894
2014-12-31   2552
2014-12-31   2727
2014-12-31   2526
2014-12-31   3878
2014-12-31   3122
2014-12-31   3911
...           ...
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0

[363579 rows x 1 columns]
Sunday mean value: sales    5725.91338
dtype: float64
Not Sunday mean value: sales    6670.659873
dtype: float64
Sunday std value: sales    3976.114217
dtype: float64
Not Sunday std value: sales    3485.584808
dtype: float64
p-value [0.]
we reject null hypothesis

In [4]:
sundayb = train[train.brand == "b"].loc[:, ["sales"]]
sundaybnot = train[(train.brand == "b") & (train.day_of_the_week != 7)].loc[:, ["sales"]]

In [5]:
sunday = sundayb
sundaynot = sundaybnot
print(sunday)
print("Not Sunday Data :-\n")
print(sundaynot)
sunday_mean = np.mean(sunday)
sundaynot_mean = np.mean(sundaynot)
print("Sunday mean value:",sunday_mean)
print("Not Sunday mean value:",sundaynot_mean)
sunday_std = np.std(sunday)
sundaynot_std = np.std(sundaynot)
print("Sunday std value:",sunday_std)
print("Not Sunday std value:",sundaynot_std)
ttest,pval = ttest_ind(sunday,sundaynot)
print("p-value",pval)
if pval <0.05:
  print("we reject null hypothesis")
else:
  print("we accept null hypothesis")

            sales
date
2014-12-31   5377
2014-12-31  10485
2014-12-31  22902
2014-12-31   3351
2014-12-31   8308
2014-12-31   4246
2014-12-31  10265
2014-12-31   5439
2014-12-31  16420
2014-12-31   7412
2014-12-31   8093
2014-12-31   9963
2014-12-31   8061
2014-12-31   4910
2014-12-31   4200
2014-12-31   7470
2014-12-30   8490
2014-12-30  11191
2014-12-30  21829
2014-12-30   3780
2014-12-30  15641
2014-12-30   6019
2014-12-30  12227
2014-12-30   9404
2014-12-30  18524
2014-12-30   7266
2014-12-30  12974
2014-12-30  15847
2014-12-30  13020
2014-12-30   6475
...           ...
2013-01-02  11542
2013-01-02   2686
2013-01-02   9570
2013-01-02   6300
2013-01-02   2743
2013-01-02  15472
2013-01-02   2988
2013-01-02  10526
2013-01-02  12477
2013-01-02   7276
2013-01-02   3643
2013-01-02      0
2013-01-02   6688
2013-01-01   4220
2013-01-01   6851
2013-01-01  17267
2013-01-01   3102
2013-01-01   2401
2013-01-01   3139
2013-01-01   9643
2013-01-01   3113
2013-01-01   2646
2013-01-01   8498
2013-01-01   3821
2013-01-01   3375
2013-01-01  10765
2013-01-01   5035
2013-01-01   4491
2013-01-01      0
2013-01-01   5961

[12226 rows x 1 columns]
Not Sunday Data :-

            sales
date
2014-12-31   5377
2014-12-31  10485
2014-12-31  22902
2014-12-31   3351
2014-12-31   8308
2014-12-31   4246
2014-12-31  10265
2014-12-31   5439
2014-12-31  16420
2014-12-31   7412
2014-12-31   8093
2014-12-31   9963
2014-12-31   8061
2014-12-31   4910
2014-12-31   4200
2014-12-31   7470
2014-12-30   8490
2014-12-30  11191
2014-12-30  21829
2014-12-30   3780
2014-12-30  15641
2014-12-30   6019
2014-12-30  12227
2014-12-30   9404
2014-12-30  18524
2014-12-30   7266
2014-12-30  12974
2014-12-30  15847
2014-12-30  13020
2014-12-30   6475
...           ...
2013-01-02  11542
2013-01-02   2686
2013-01-02   9570
2013-01-02   6300
2013-01-02   2743
2013-01-02  15472
2013-01-02   2988
2013-01-02  10526
2013-01-02  12477
2013-01-02   7276
2013-01-02   3643
2013-01-02      0
2013-01-02   6688
2013-01-01   4220
2013-01-01   6851
2013-01-01  17267
2013-01-01   3102
2013-01-01   2401
2013-01-01   3139
2013-01-01   9643
2013-01-01   3113
2013-01-01   2646
2013-01-01   8498
2013-01-01   3821
2013-01-01   3375
2013-01-01  10765
2013-01-01   5035
2013-01-01   4491
2013-01-01      0
2013-01-01   5961

[10484 rows x 1 columns]
Sunday mean value: sales    9862.728693
dtype: float64
Not Sunday mean value: sales    9675.115223
dtype: float64
Sunday std value: sales    5332.055086
dtype: float64
Not Sunday std value: sales    5181.806534
dtype: float64
p-value [0.00741446]
we reject null hypothesis

In [6]:
sundayd = train[train.brand == "d"].loc[:, ["sales"]]
sundaydnot = train[(train.brand == "d") & (train.day_of_the_week != 7)].loc[:, ["sales"]]

In [7]:
sunday = sundayd
sundaynot = sundaydnot
print(sunday)
print("Not Sunday Data :-\n")
print(sundaynot)
sunday_mean = np.mean(sunday)
sundaynot_mean = np.mean(sundaynot)
print("Sunday mean value:",sunday_mean)
print("Not Sunday mean value:",sundaynot_mean)
sunday_std = np.std(sunday)
sundaynot_std = np.std(sundaynot)
print("Sunday std value:",sunday_std)
print("Not Sunday std value:",sundaynot_std)
ttest,pval = ttest_ind(sunday,sundaynot)
print("p-value",pval)
if pval <0.05:
  print("we reject null hypothesis")
else:
  print("we accept null hypothesis")

            sales
date
2014-12-31   4291
2014-12-31   4286
2014-12-31   3489
2014-12-31   2891
2014-12-31   4890
2014-12-31   3150
2014-12-31   5187
2014-12-31   3534
2014-12-31   3760
2014-12-31   3550
2014-12-31   4244
2014-12-31   2107
2014-12-31   3553
2014-12-31   5569
2014-12-31   4168
2014-12-31   3131
2014-12-31   6858
2014-12-31   4467
2014-12-31   3585
2014-12-31   4677
2014-12-31   4547
2014-12-31   3852
2014-12-31   2960
2014-12-31   3120
2014-12-31   4770
2014-12-31   3691
2014-12-31   4720
2014-12-31   5189
2014-12-31   4937
2014-12-31   3234
...           ...
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0

[239136 rows x 1 columns]
Not Sunday Data :-

            sales
date
2014-12-31   4291
2014-12-31   4286
2014-12-31   3489
2014-12-31   2891
2014-12-31   4890
2014-12-31   3150
2014-12-31   5187
2014-12-31   3534
2014-12-31   3760
2014-12-31   3550
2014-12-31   4244
2014-12-31   2107
2014-12-31   3553
2014-12-31   5569
2014-12-31   4168
2014-12-31   3131
2014-12-31   6858
2014-12-31   4467
2014-12-31   3585
2014-12-31   4677
2014-12-31   4547
2014-12-31   3852
2014-12-31   2960
2014-12-31   3120
2014-12-31   4770
2014-12-31   3691
2014-12-31   4720
2014-12-31   5189
2014-12-31   4937
2014-12-31   3234
...           ...
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0
2013-01-01      0

[205050 rows x 1 columns]
Sunday mean value: sales    5577.438646
dtype: float64
Not Sunday mean value: sales    6500.870285
dtype: float64
Sunday std value: sales    3446.856925
dtype: float64
Not Sunday std value: sales    2803.107025
dtype: float64
p-value [0.]
we reject null hypothesis